<div class="card" *ngFor="let module of modules">
  <div class="card-block">
    <h4 class="card-title">
      {{ module.metadata.name }}
      <small><span class="badge badge-primary">{{ module.metadata.version }}</span></small>
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ module.metadata.description }}</h6>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"
        *ngFor="let setting of module.settings">{{ setting.name }}

      <div [ngSwitch]="setting.type">
        <input *ngSwitchCase="'string'" type="text" [(ngModel)]="setting.value" class="form-control"/>
        <input *ngSwitchCase="'number'" type="number" [(ngModel)]="setting.value" class="form-control"/>
        <ngb-datepicker *ngSwitchCase="'date'" [(ngModel)]="setting.value"></ngb-datepicker>
      </div>

    </li>
  </ul>
</div>
