/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  font-family: Roboto, Arial, sans-serif;
}

html, body, material-app, mat-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

mat-list-item-content > a > span {
  visibility: hidden;
  display: none;
}
