<div class="panel panel-default">
    <div class="panel-heading" ng-click="vm.openSettings('main')" style="cursor:pointer;">
        <h3 class="panel-title"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i> Main settings <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.open === 'main', 'glyphicon-chevron-right': vm.open !== 'main'}"></i></h3>
    </div>
    <div class="panel-body" ng-if="vm.open === 'main'">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" ng-click="vm.openSettings('modules')" style="cursor:pointer;">
        <h3 class="panel-title"><i class="glyphicon glyphicon-certificate" aria-hidden="true"></i> Module settings <i class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': vm.open === 'modules', 'glyphicon-chevron-right': vm.open !== 'modules'}"></i></h3>
    </div>
    <div class="panel-body" ng-if="vm.open === 'modules'">
        Panel content
    </div>
</div>