<div class="panel panel-default">
    <div class="panel-heading" ng-click="vm.openSettings('main')">
        <h1 class="panel-title"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i> Main settings <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.open === 'main', 'glyphicon-chevron-right': vm.open !== 'main'}"></i></h1>
    </div>
    <div class="panel-body" ng-if="vm.open === 'main'">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" ng-click="vm.openSettings('modules')">
        <h1 class="panel-title"><i class="glyphicon glyphicon-certificate" aria-hidden="true"></i> Module settings <i class="pull-right glyphicon"
                ng-class="{'glyphicon-chevron-down': vm.open === 'modules', 'glyphicon-chevron-right': vm.open !== 'modules'}"></i></h1>
    </div>
    <div class="panel-body" ng-if="vm.open === 'modules'">
        <div ng-repeat="module in vm.modules track by $index">
            <div>
                <h3>{{module.metadata.name}} <small>{{module.metadata.version}}</small></h3>
                <p>{{module.metadata.description}}</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Default</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'warning':!formSettings_$parent.$index_$index.$pristine}" ng-repeat="setting in module.settings track by $index"
                            ng-form="formSettings_$parent.$index_$index" confirm-on-exit="!formSettings_$parent.$index_$index.$pristine"
                            confirm-message-window="All your unsaved changes will be lost." confirm-message-route="All your unsaved changes will be lost. Are you sure you want to do this?">
                            <td>{{setting.name}}<abbr ng-if="setting.mandatory" title="mandatory field">*</abbr>
                                <br><small ng-if="setting.description">{{setting.description}}</small>
                            </td>
                            <td>
                                <input ng-if="setting.type === 'string' && !setting['possible-values'].length" type="text" placeholder="{{setting.default}}" ng-model="setting.value" class="form-control">
                                <input ng-if="setting.type === 'number'" type="number" placeholder="{{setting.default}}" ng-model="setting.value" class="form-control">
                                <div ng-if="setting.type === 'bool'">
                                    <label class="radio-inline"><input type="radio" ng-model="setting.value" name="radioSetting_$parent.$index_$index" ng-value="true"> true</label>
                                    <label class="radio-inline"><input type="radio" ng-model="setting.value" name="radioSetting_$parent.$index_$index" ng-value="false"> false</label>
                                </div>
                                <div ng-if="setting.type === 'time'" uib-timepicker ng-model="setting.value" show-meridian="false"></div>
                                <div ng-if="setting.type === 'date'" uib-datepicker ng-model="setting.value" class="well well-sm pull-left"></div>
                                <div ng-if="setting.type === 'string' && setting['possible-values'].length" class="btn-group" uib-dropdown keyboard-nav="true">
                                    <button id="dropdown_button_$parent.$index_$index" type="button" class="btn btn-default" ng-disabled="true">{{setting.value}}</button>
                                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">choose from options</span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown_button_$parent.$index_$index">
                                        <li role="menuitem" ng-repeat="val in setting['possible-values']"><a ng-href="#" ng-click="setting.value = val; formSettings_$parent.$index_$index.$setDirty(); $event.preventDefault();">{{val}}</a></li>
                                    </ul>
                                </div>

                            </td>
                            <td>
                                {{setting.default}}
                                <span ng-if="setting.default !== setting.value" class="text-primary" ng-click="setting.value = setting.default; formSettings_$parent.$index_$index.$setDirty();">
                                    <span class="glyphicon glyphicon-repeat" aria-hidden="true" title="reset to default"><span class="sr-only">reset to default</span></span>
                                </span>
                            </td>
                            <td>
                                <span ng-if="!formSettings_$parent.$index_$index.$pristine"><button class="btn btn-primary" ng-click="vm.saveSetting(module.metadata.id,setting.name,setting.value,setting.type,formSettings_$parent.$index_$index)" ng-disabled="formSettings_$parent.$index_$index.$invalid"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>                                save changes</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>