<mat-sidenav-container class="app-side-nav-container">
  <!-- Main side navigation -->
  <mat-sidenav #sidenav [opened]="isSidenavOpen" mode="side">
    <mat-toolbar color="primary">
      <button mat-button [matTooltip]="Startseite">
        Homescreen
      </button>
    </mat-toolbar>

    <div id="scroll-area" class="navigation-hold" fxLayout="column">
      <hs-navigation></hs-navigation>
    </div>
  </mat-sidenav>

  <!-- Top Bar -->
  <!-- Template reference variables of Left sidebar and Right notification is supplied -->
  <!-- Listens language change event -->
  <hs-topbar
  [sidenav]="sidenav"
  [notificPanel]="notificationPanel"
  (onLangChange)="translate.use($event)"></hs-topbar>
  <!-- App content -->
  <div class="rightside-content-hold">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
