<md-toolbar color="primary">
    <button md-button routerLink="/">
      <md-icon>home</md-icon> Homescreen.rocks
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button md-button routerLink="/settings">Settings</button>
    </div>
    <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
       <md-icon>menu</md-icon>
    </button>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item routerLink="/settings">Settings</button>
</md-menu>

<div style="padding: 20px;">
 <router-outlet></router-outlet>
</div>
